In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_spy = pd.read_excel('spy_data.xlsx', sheet_name='excess returns')
df_spy = df_spy.dropna()
df_spy.reset_index(drop=True, inplace=True)

df_spy_filtered = df_spy[(df_spy['date'] >= '1994-02-15') & (df_spy['date'] <= '1998-07-01')]
df_spy_filtered

         date       SPY
1  1994-02-28 -0.031964
2  1994-03-31 -0.050288
3  1994-04-30  0.007996
4  1994-05-31  0.012464
5  1994-06-30 -0.032782
6  1994-07-31  0.028768
7  1994-08-31  0.034321
8  1994-09-30 -0.035039
9  1994-10-31  0.024243
10 1994-11-30 -0.044441
11 1994-12-31 -0.005294
12 1995-01-31  0.028741
13 1995-02-28  0.036018
14 1995-03-31  0.017564
15 1995-04-30  0.024881
16 1995-05-31  0.034981
17 1995-06-30  0.009748
18 1995-07-31  0.027649
19 1995-08-31  0.000060
20 1995-09-30  0.032475
21 1995-10-31 -0.007364
22 1995-11-30  0.040047
23 1995-12-31  0.005359
24 1996-01-31  0.031486
25 1996-02-29 -0.000876
26 1996-03-31  0.008553
27 1996-04-30  0.006695
28 1996-05-31  0.018500
29 1996-06-30 -0.000687
30 1996-07-31 -0.049253
31 1996-08-31  0.014976
32 1996-09-30  0.046375
33 1996-10-31  0.028157
34 1996-11-30  0.068846
35 1996-12-31 -0.032780
36 1997-01-31  0.057611
37 1997-02-28  0.005341
38 1997-03-31 -0.052078
39 1997-04-30  0.058354
40 1997-05-31  0.059191
41 1997-06-30  0.032856
42 1997-07-31  0.075014
43 1997-08-31 -0.056045
44 1997-09-30  0.040118
45 1997-10-31 -0.028720
46 1997-11-30  0.034480
47 1997-12-31  0.010699
48 1998-01-31  0.008678
49 1998-02-28  0.064978
50 1998-03-31  0.041621
51 1998-04-30  0.008750
52 1998-05-31 -0.024844
53 1998-06-30  0.035125

In [6]:
df_spy_data = pd.to_numeric(df_spy_filtered['SPY'])

print('Gross Performance')

gross_mean_monthly = df_spy_data.mean()
gross_mean_annualized = gross_mean_monthly * 12
print(f"Annualized Mean: {gross_mean_annualized:.4f}")

gross_vol_monthly = df_spy_data.std()
gross_vol_annualized = gross_vol_monthly * np.sqrt(12)
print(f"Annualized Volatility: {gross_vol_annualized:.4f}")

gross_sharpe = gross_mean_annualized / gross_vol_annualized
print(f"Sharpe Ratio: {gross_sharpe:.4f}")

# Skewness
gross_skewness = df_spy_data.skew()
print(f"Skewness: {gross_skewness:.4f}")

# Kurtosis
gross_kurtosis = df_spy_data.kurt()
print(f"Kurtosis: {gross_kurtosis:.4f}")

# 5th quantile (5th percentile)
gross_5th_quantile = df_spy_data.quantile(0.05)
print(f"5th Quantile: {gross_5th_quantile:.4f}")

Gross Performance
Annualized Mean: 0.1515
Annualized Volatility: 0.1152
Sharpe Ratio: 1.3159
Skewness: -0.4038
Kurtosis: -0.4501
5th Quantile: -0.0497